.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
**/build/
coverage/
**/.gradle/
.idea/
.vscode/
*.iml
*.log
*.kate-swp
**/local.properties
**/key.properties
*.jks
*.keystore
.env
.env.*
!.env.example
**/google-services.json
**/GoogleService-Info.plist
**/*firebase-adminsdk*.json
**/service-account*.json
**/*base64*.txt
!/pubspec.lock
